/tfDocker
/backend/cognitoSmsWip
/backend/builds
/backend/*.env
/backend/test/aws-exports.json
*.tfstate
*.tfstate.backup
*.tfstate.lock.info
*.terraform.lock.hcl


/frontend/generatedTargets.sh
amplify/
amplify-backup/
node_modules/
/frontend/public/bundle.*
/frontend/public/*.*.css
/frontend/public/vendors.*.js
/frontend/public/vendors.css
/frontend/public/index.html
/frontend/public/sw-generated.js
/frontend/src/aws-exports.js
/frontend/generatedTargets-*.sh
/frontend/webpack.config.js
build/
.terraform/

.DS_Store
/frontend/src/config/doNotEditChartKey.json
frontend/public/manifest.json
