

div.overlay {
    /* applied to all */
    border: 1px solid black;
    color: black;
}

div.ready {
    background: green;
    color: white;
}

div.pendingSeed {
    background: red;
    color: white;
}

div.complete {
    background: gray;
    color: white;
}

div.phaseOneComplete {
    background: yellow;
    color: black;
}
