{
    "name": "RaceResults",
    "short_name": "__AppShortName",
    "start_url": "index.html",
    "id": "index.html",
    "display": "standalone",
    "theme_color": "#9c27b0",
    "background_color": "#fff",
    "icons": [
        {
            "src": "/RR1cm-v5-192.png",
            "sizes": "192x192",
            "purpose": "any",
            "type": "image/png"
        },
        {
            "src": "/RR1cm-v5-512.png",
            "sizes": "512x512",
            "purpose": "any",
            "type": "image/png"
        },
        {
            "src": "/RR1cm-v5-maskable-192.png",
            "sizes": "192x192",
            "purpose": "maskable",
            "type": "image/png"
        },
        {
            "src": "/RR1cm-v5-maskable-512.png",
            "sizes": "512x512",
            "purpose": "maskable",
            "type": "image/png"
        }
    ]
}
